

<p>Vi erbjuder övergripande data och statistik över offentlig ekonomi genom Jämförelseverktyget på hemsidan.

Vill du få hjälp med att tolka den mera ingående och ställa rätta frågor som berör just det som ni är intresserade av. Ex

Vad betyder krångliga ord i klartext?

Är 10 miljarder mycket eller lite?

Jag vill få fördjupad information om området ex. Äldreomsorg.

Vilka myndigheter är det som följer upp ex. personliga assistansen eller HVB hem? Hur går uppföljningarna till? Vad händer sedan?

Vad är det för nyckeltal och kontoplaner myndigheter använder?

Historisk jämförelse? Internationella jämförelser?

Uppgifter om den övergripande offentliga ekonomin kan skräddarsys för att passa allt från media, kommuner, myndigheter, konsultföretag och utbildningar på olika nivåer.

Såväl omfattning, leveransformat och leveransintervall anpassas efter ert behov. Kontakta oss för tips och prisförslag..</p>
<img data-attachment-id="370" data-permalink="https://valfardstatistik.se/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3/" data-orig-file="https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg" data-orig-size="400,400" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3" data-image-description="" data-medium-file="https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg?w=300" data-large-file="https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg?w=400" src="https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg?w=300" alt="" class="wp-image-370" srcset="https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg?w=300 300w, https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg?w=150 150w, https://valfardstatistik.files.wordpress.com/2020/12/5713af0d-becf-42d1-a952-a8d8665cab89_1_201_a-3.jpeg 400w" sizes="(max-width: 300px) 100vw, 300px">


<p> Minna Fröjdholm <br> info@offentligekonomi.nu</p> 