<h1>Viktigaste politiska frågan</h1>
<p>
    Här uppmärksammar vi glappet mellan vad svenska folket enligt Novus undersökningar tycker är den ”viktigaste politiska frågan” https://novus.se/novus-svensk-valjaropinion/valjarforstaelse/viktigaste-politiska-fragan/ och vad politiker faktiskt satsar på.
Vi kommer särskilt att fokusera på socialförsäkringar, vård- och omsorg.

</p>
<p>Vi startar med jämförelserna januari 2022</p>
