@{
    ViewData["Title"] = "Definitioner";
}
<h1>@ViewData["Title"]</h1>

<p>Begrepp som används är tagna från offentlig statistik. Vid enstaka tillfällen har vi gjort förtydliganden, ex när det står Pensionskostnader så ka man tro att det handlar om den vanliga pensionen. Men eftersom den vanliga pensionen inte ens finns med i dessa räkenskaper så ordet förtydligat med Pensionskostad, ej ålderspension
Många begrepp är svåra att begripa. Därför finns en Definitionslista i bokstavsordning att finna i ”menyn” Definitioner. Dessa är hämtade från ansvariga myndigheters hemsidor.
Flera viktiga begrepp är svåra att begripa ändå eftersom Stat, kommun och Regioner använder samma eller liknande begrepp för helt olika saker. Det tycks inte finnas någon samordning mellan aktörernas begrepp/nyckeltal.
</p>
