<h1>Press</h1>

<p>
Artiklar av Minna Fröjdholm</p><br>

<a href="https://www.dagenssamhalle.se/styrning-och-beslut/kommunpolitik/varfor-ar-offentlig-ekonomi-sa-svar-att-begripa/">https://www.dagenssamhalle.se/styrning-och-beslut/kommunpolitik/varfor-ar-offentlig-ekonomi-sa-svar-att-begripa/</a> <br>
<a href="https://www.foretagande.se/coronakrisen-i-aldreomsorgen">https://www.foretagande.se/coronakrisen-i-aldreomsorgen</a> <br>
<a href="https://www.foretagande.se/ska-vi-dansa-efter-coronavirusets-pipa">https://www.foretagande.se/ska-vi-dansa-efter-coronavirusets-pipa</a> <br>
<a href="https://www.foretagande.se/kreativa-losningar-kan-forbattra-valfarden-och-kommunernas-ekonomi">https://www.foretagande.se/kreativa-losningar-kan-forbattra-valfarden-och-kommunernas-ekonomi</a> <br>
<a href="https://www.foretagande.se/honan-eller-agget-valfardssystemet-eller-privata-sjukvardsforsakringar">https://www.foretagande.se/honan-eller-agget-valfardssystemet-eller-privata-sjukvardsforsakringar</a> <br>
<a href="https://www.foretagande.se/staten-ger-kara-barn-manga-namn">https://www.foretagande.se/staten-ger-kara-barn-manga-namn</a> <br>
<a href="https://www.foretagande.se/statens-budget-vilseleder">https://www.foretagande.se/statens-budget-vilseleder</a> <br>
<a href="https://www.foretagande.se/debatt/det-har-far-vi-for-arbetsgivaravgifterna">https://www.foretagande.se/debatt/det-har-far-vi-for-arbetsgivaravgifterna</a> <br>
<a href="https://www.foretagande.se/debatt/vad-far-vi-egentligen-for-arbetsgivaravgifterna">https://www.foretagande.se/debatt/vad-far-vi-egentligen-for-arbetsgivaravgifterna</a> 



