<h>Press</h>
<p>
Är du journalist, jobbar på intresseorganisation, företräder en utbildning, politiskt intresserad eller bara nyfiken?
</p>

<ul>
    <li>
Vill du veta vad begrepp i offentlig statistik egentligen betyder?
</li>
    <li>
Vill du veta vad sjukhusvård kostar i förhållande till polismyndigheten? 
</li>
    <li>
Hur mycket Karlstad högskola kostar i förhållande till vad Inspektionen för vård- och omsorg gör? 
</li>
    <li>
Eller hur mycket barnbidrag omsätter i förhållande till hemtjänst eller grundskola?
</li>
<li>
Vill du veta om en utgift är förhållandevis hög- eller låg?
</li>
<li>
    Eller vill du bara höra vad vi tycker är anmärkningsvärt? 
</li>
<li>
    
</li>

</ul>
 
 <p>
 Begreppshandbok kan beställas. Det går också boka in oss för rådgivning eller utbildning i just det område som du/ni är intresserad av så kan vi bla. föreslå intressanta vinklingar. Sänd ett mail, info@offentligekonomi.nu
    
 </p>
