<h1>Tjänster</h1>
<p>
Är du journalist, jobbar på intresseorganisation, företräder en utbildning, politiskt intresserad eller bara nyfiken och vill veta mera exempelvis

</p>

<ul>
    <li>
Förtydliganden om vad innehållet i de olika utgifterna egentligen betyder
    </li>
    <li>
Få historiska eller internationella jämförelser?
    </li>
    <li>
Eller vill du bara diskutera ett område som du vill fördjupa dig i?
    </li>
    <li>
Vill du veta vad sjukhusvård kostar i förhållande till polismyndigheten?
    </li>
    <li>
Eller hur mycket Karlstad högskola kostar i förhållande till vad Inspektionen för vård- och omsorg?
    </li>
    <li>
     Hur mycket barnbidrag omsätter i förhållande till hemtjänst eller grundskola?   
    </li>

<li>Vill du veta om en utgift är förhållandevis hög- eller låg? Eller vill du bara höra vad vi tycker är anmärkningsvärt?</li>

</ul>
 <p>
Välkommen att höra av dig!

Begreppshandbok som definierar, och utvecklar, begreppen i Jämförelseverktyget kan beställas fr.o.m jan 2022.

Det går också boka in oss för rådgivning eller utbildning i just det område som du/ni är intresserad av så kan vi bla. föreslå intressanta vinklingar.

Sänd ett mail, info@offentligekonomi.nu
 </p>

 

