<h1>Tjänster</h1>
<p>
Är du journalist, jobbar på intresseorganisation, företräder en utbildning, politiskt intresserad eller bara nyfiken och vill veta mera exempelvis

</p>

<p>
Förtydliganden om vad innehållet i de olika utgifterna egentligen betyder 
Få historiska eller internationella jämförelser? 
Eller vill du bara diskutera ett område som du vill fördjupa dig i?
Vill du veta vad sjukhusvård kostar i förhållande till polismyndigheten? 
Eller hur mycket Karlstad högskola kostar i förhållande till vad Inspektionen för vård- och omsorg gör? 
Eller hur mycket barnbidrag omsätter i förhållande till hemtjänst eller grundskola? 
Vill du veta om en utgift är förhållandevis hög- eller låg? 
Eller vill du bara höra vad vi tycker är anmärkningsvärt?
</p>
 <p>
Begreppshandbok kan beställas. 
 
Det går också boka in oss för rådgivning eller utbildning i just det område som du/ni är intresserad av så kan vi bla. föreslå intressanta vinklingar. 
 
Sänd ett mail, info@offentligekonomi.nu
 </p>

 

