<h1>Jämförelseverktyget</h1>

<p>Vi har tagit fram ett Jämförelseverktyg som samkör utgifter/omsättningar mellan stat, kommun och regioner. 
Uppgifterna i Jämförelse Verktyget, d.v.s. cirkeldiagrammet på första sidan, kommer från offentlig statistik som hittas på SCB (nationalräkenskaperna) från Sveriges kommuner och Regioner skr.se och från Regeringens hemsida.
 
För att göra jämförelser mer spännande så kan offentliga utgifter även jämföras med Hushållens utgifter( privat konsumtion), vissa kända människors löner/rikedomar och Europas Kungahus förmögenheter med. 
Genom att jämföra dem med offentliga utgifter så blir det tydligare att det är samma pengar oavsett om de spenderas av privatpersoner eller den offentliga sektorn. 
Det är precis samma kronor och ören! 
 
Källan för Hushållens utgifter är Statistiska centralbyrån  scb.se och kända människors från olika listor som publiceras på nätet.
</p>

<p>Eftersom offentlig ekonomi finansieras av skattebetalande människor, och vi skattebetalare har svårt att förstå vad våra pengar används till, så behöver offentlig ekonomi göras begripligare. Därför finns Offentligekonomi.nu!</p>


  
  <h2>Strukturen i Jämförelseverktyget</h2>
  <p>
      Utgifter i Jämförelseverktyget är ordnade som i en Kontoplan med olika nivåer. 
 <ul>
     <li>
Högst upp finns Kontogrupp som utgörs av 10 grupper. 
     </li>
      <li>
       Om man vill få mera specificerade uppgifter om en Kontogrupp så man till Huvudkontot   
     </li>
      <li>
         Om man vill fördjupa sig ännu mera och veta vilka utgifter ett Huvudkonto består av så går vidare och söker på vald Huvudgrupps- Huvudkontos- underkonto.
     </li>
 </ul>

Du kan jämföra utgifter/omsättningar både mellan olika Kontogrupper och Kontonivåer med varandra. Detta gör Jämförelseverktyget unikt. Testa!

</p>
<h1>Begränsningar</h1>
<p>
Ibland är det extra krångligt att få fram exakta icke-väsentliga uppgifter. Då har vi skippat att vara helt exakta. Detta val påverkar dock inte syftet med det hela, att ge en god översikt över offentlig ekonomi. Det här är första versionen som ska förbättras. Hör gärna av dig om du vill rätta något eller saknar något som skulle passa bra i Jämförelseverktyget.
</p>

<p>
    Ålderspensionen finns inte med i statens budget och därför finns dessa siffror inte med här. En särskild handbok som förklarar det mesta som har med pension att göra beräknas vara klar mars 2022
</p>

<p>
    Vi är tvungna att använda oss av de nyckeltal som det förs statistik på. Tyvärr finns inget direkt samband mellan de högsta utgifterna och de kontoplaner/nyckeltal som används. Ibland behöver man gräva djupt ner i nyckeltalens undergrupper för att hitta väsentliga uppgifter.
Det tycks, för oss, som om officiella kontoplaner/nyckeltal inte är anpassade till det samhälle vi lever i idag. 

</p>

<p>
    Fastän vi utgår från offentlig statistik så har vi sannolikt ändå vridit till det med vissa subjektiva vinklingar. Området som kallas ”socialt skydd” är ett område som ligger oss varmt om hjärtat, social omsorg och sjukvård och chans/risk finns att det ges mera kärlek och uppmärksamhet till dessa konton, främst i Facebook kommentarera.
</p>

<h1>Källor</h1>
<p>
    Uppgifterna kommer från offentlig statistik som hittas på SCB (se nationalräkenskaperna) från Sveriges kommuner och Regioner skr.se, Socialstyrelsen och från Regeringens hemsida. 
    </p>
<h1>Definitioner och fördjupning</h1>
    
<p>
    Vi använder oss av de begrepp/nyckeltal som finns i den officiella statistiken. Ibland kan det vara svårt att förstå vad dessa begrepp står för. Särskilt svårt när samma begrepp kan betyda helt olika saker beroende på om det ex är Stat eller Kommun som använder begreppet.
</p>

<h1>Övriga tjänster & kontakt</h1>

<p>
    ”Lexikon” som beskriver vad begreppen definierar utförligt kan beställas från 1 jan. 2022
Boka in oss för rådgivning eller utbildning i just det område som du/ni är intresserad av så kan vi bla. föreslå intressanta vinklingar. 
 
För kontakt maila: info@offentligekonomi.nu

</p>

